<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Movies</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>

    <header>
        <div class="container">
            <h1>My favorite movies to watch</h1>
        </div>
    </header>

    <main>
        <div class="container">
            <nav>
                <a href="{{ url_for('add_movie') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add new
                    movie</a>
            </nav>

            <div class="row">
                <div class="column">
                    <h3><i class="fa-solid fa-film"></i> Titles</h3>

                    <form method="POST" action="{{ url_for('home') }}">
                        <ul id="movieList">
                            {% for movie in movies %}
                            <li>
                                <input type="checkbox" name="movieToRemove" value="{{ movie[0] }}">
                                {{ movie[1] }},
                                {{ movie[2] }},
                                {{ movie[3] }}
                            </li>
                            {% endfor %}
                        </ul>
                        <button> <i class="fa-solid fa-trash"></i> Delete selected</button>
                    </form>

                    <form action="{{ url_for('search_movie') }}" method="get">
                        <input name="query" type="text" placeholder="{{ 'Title of the movie you are looking for' }}"
                            value="{{ search_query or '' }}" />
                        <button type="submit">
                            <i class="fa-solid fa-search"></i>
                            Find movie
                        </button>
                    </form>

                    <form method="POST" action="{{ url_for('home') }}">
                        <button type="submit">
                            <i class="fa-solid fa-clapperboard"></i>
                            List of all movies
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            @ My Movie Database. All rights reserved.
        </div>
    </footer>

    <script type="text/javascript" src="/static/style.js"></script>

</body>

</html>